*.class
*.log

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Ignore Eclipse files
.project
.classpath
.prefs
.settings
/bin

# Ignore Eclipse files
.idea/
.idea/modules/
.idea_modules/
